table.headline_first_rows_left td:nth-child(1) {
    background-color: #b6d3fa;
}

table.headline_first_columns_left tr:nth-child(1) td:nth-child(n) {
    background-color: #b6d3fa;
}

table.headline_first_columns_center tr:nth-child(1) td:nth-child(n) {
    background-color: #b6d3fa;
    text-align: center;
}
